<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!-- <link rel="stylesheet" href="/public/styles.css"> -->

</head>
<body>
    <nav class="nav_list">
        <h1><a href="/">JWT </a></h1>
        <ul>
            <li><a href="/">Login</a></li>
            <li><a href="/signup">Signup</a></li>
            <li><a href="/logout">Log Out</a></li>
            
        </ul>
    </nav>
</body>
</html>
